.container {
    /* margin: auto; */
    text-align: center;
}

#grid {
    display: table;
    margin: auto;
}

.square {
    width: 22px;
    height: 22px;
    /* border: 1px solid black; */
    /* float: left; */
    /* display: inline; */
    display: table-cell;

    
    font-size: .8em;
}

.divRow {
    /* margin-bottom: -6px; */
    /* padding: 0; */
    /* height: fit-content; */
    display: table-row;
}

.navbar-custom {
    background-color: yellowgreen; /* #99cd32 */
    margin-bottom: 10px;
}
.navbar-custom .nav-link {
    color: white;
}
.navbar-custom .nav-link:hover {
    /* color: white; */
    /* text-shadow: 0 0 5px black; */
    /* color: #cd3299; */
    color: black;
    /* text-shadow: 0 0 5px white; */
}

.navbar-brand {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}

#statsRow {
    margin: 10px auto;
    width: 500px;
    font-size: 20px;
}

.wall {
    background: black;
}

.head {
    background: darkgreen; /* #006400 */
}

.body {
    /* background: green; */
    background: yellowgreen;
}

.tail {
    /* background: darkolivegreen; */
    background: rgb(138, 102, 35); /* #8a6623 */
}

.food {
    background: red;
}

.extralife {
    background: blue;
    color: white;
}

h2 {
    /* margin: auto; */
}

#buttonsDiv {
    /* margin: auto; */
}

.arrowBtn {
    margin-bottom: 5px;
}


@media only screen and (orientation: portrait) {
    .square {
        width: 4vw;
        height: 4vw;
    }

    .arrowBtn {
        width: 20vw;
        height: 20vw;
        font-size: 8vw;
    }

    #statsRow {
        width: 100%;
        font-size: 20px;
    }
}

/* Hide arrow buttons when in landscape mode  */
@media only screen and (orientation: landscape) {
    .buttonsDiv {
        display: none;
        visibility: hidden;
    }
    .arrowBtn {
        display: none;
        visibility: hidden;
    }
}